/*!
* @author @baoym@grandsoft.com.cn
* @glodon icons sprite
*/
/*icons*/
[class^="gicon-"],
[class*=" gicon-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background-image: url(../images/gicons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.gicon-add{background-position: 0 0;}
.gicon-arrow-down{background-position: -30px 0;}
.gicon-arrow-up{background-position: -60px 0;}
.gicon-download{background-position: -90px 0;}
.gicon-exit{background-position: -120px 0;}
.gicon-folder{background-position: -150px 0;}
.gicon-home{background-position: -180px 0;}
.gicon-pencil{background-position: -210px 0;}
.gicon-trash{background-position: -240px 0;}
.gicon-refresh{background-position: -270px 0;}
.gicon-settings{background-position: -300px 0;}
.gicon-share{background-position: -330px 0;}
.gicon-sort{background-position: -360px 0;}
.gicon-star-active{background-position: -390px 0;}
.gicon-user-share{background-position: -420px 0;}
.gicon-user{background-position: -450px 0;}
.gicon-users{background-position: -480px 0;}
.gicon-dropdown{background-position: 0 -30px;}
.gicon-link-active{background-position: -30px -30px;}
.gicon-link{background-position: -60px -30px;}
.gicon-lock-active{background-position: -90px -30px;}
.gicon-lock{background-position: -120px -30px;}
.gicon-message{background-position: -150px -30px;}
.gicon-more{background-position: -180px -30px;}
.gicon-picture{background-position: -210px -30px;}
.gicon-shared-active{background-position: -240px -30px;}
.gicon-shared{background-position: -270px -30px;}
.gicon-upload{background-position: -300px -30px;}
.gicon-unshare{background-position: -330px -30px;}
.gicon-remove{background-position: -360px -30px;}
.gicon-repeat{background-position: -390px -30px;}
.gicon-star{background-position: -420px -30px;}
.gicon-search{background-position: -450px -30px;}
.gicon-dropdown-active{background-position: -480px -30px;}
.gicon-warning{background-position: 0 -60px;}
.gicon-list{background-position: -30px -60px;}
.gicon-enterprise{background-position: -60px -60px;}
.gicon-quickfilter{background-position: -90px -60px;}
.gicon-expand-right{background-position: -120px -60px;}
.gicon-expand-down{background-position: -150px -60px;}
.gicon-adduser{background-position: -180px -60px;}
.gicon-removeuser{background-position: -210px -60px;}
.gicon-selectuser{background-position: -240px -60px;}
.gicon-delete{background-position: -270px -60px;}
.gicon-checkbox{background-position: -300px -60px;}
.gicon-checkbox-checked{background-position: -330px -60px;}
.gicon-expand-left{background-position: -360px -60px;}
.gicon-expand-up{background-position: -390px -60px;}
.gicon-collapse{background-position: -420px -60px;}
.gicon-expand{background-position: -450px -60px;}
.gicon-task{background-position: -480px -60px;}
.gicon-task-approve{background-position: 0 -90px;}
.gicon-task-modify{background-position: -30px -90px;}
.gicon-task-read{background-position: -60px -90px;}
.gicon-calendar{background-position: -90px -90px;}
.gicon-assign{background-position: -120px -90px;}
.gicon-showdelete{background-position: -150px -90px;}
.gicon-task-todo{background-position: -180px -90px;}
.gicon-task-my{background-position: -210px -90px;}
.gicon-task-done{background-position: -240px -90px;}
.gicon-task-forme{background-position: -270px -90px;}
.gicon-task-createtime{background-position: -300px -90px;}
.gicon-task-expiretime{background-position: -330px -90px;}
.gicon-empty-recycle{background-position: -360px -90px;}
.gicon-nav-right{background-position: -390px -90px;}
.gicon-hide-deleted{background-position: -420px -90px;}
.gicon-show-deleted{background-position: -450px -90px;}
.gicon-deleted-tag{background-position: -480px -90px;}
.gicon-ban{background-position: -0 -120px;}
.gicon-hammer{background-position: -30px -120px;}
.gicon-calendar-yellow{background-position: -60px -120px;}
.gicon-preview{background-position: -90px -120px;}
.aicon-plus{background-position: 0 0;}
.aicon-minus{background-position: -20px 0;}
.aicon-unchecked{background-position: -60px -20px;}
.aicon-checked{background-position: -80px -20px;}
.aicon-radio{background-position: -140px -20px;}
.aicon-unradio{background-position: -120px -20px;}
.aicon-search{background-position: -240px -40px;}
.aicon-down{background-position: 0px -40px;}
.aicon-right{background-position: -140px -40px;}
.aicon-wrong{background-position: -200px -20px;}
.aicon-info{background-position: -180px -20px;}
.aicon-close{background-position: -80px -40px;}
.aicon-titletag{background-position: -420px -40px;}
.aicon-arrowgrayl{background-position: -360px -40px;}
.aicon-arrowgrayr{background-position: -380px -40px;}
.aicon-arrowbluel{background-position: -320px -40px;}
.aicon-arrowbluer{background-position: -340px -40px;}
.aicon-zhu{background-position: -400px -40px;}
.aicon-entbase{background-position: -40px 0;}
.aicon-entstaff{background-position: -60px 0;}
.aicon-entgroup{background-position: -80px 0;}
.aicon-entdoc{background-position: -100px 0;}
.aicon-entapp{background-position: -120px 0;}
.aicon-entsetting{background-position: -140px 0;}
.aicon-entexit{background-position: -160px -20px;}
.aicon-entbgo{background-position: -460px -40px;}
.aicon-entgo{background-position: -180px -40px;}
.aicon-userbase{background-position: -380px 0;}
.aicon-useraddr{background-position: -360px 0;}
.aicon-useredu{background-position: -340px 0;}
.aicon-userjob{background-position: -320px 0;}
.aicon-useremail{background-position: -300px 0;}
.aicon-usermobile{background-position: -280px 0;}
.aicon-userpwd{background-position: -260px 0;}
.aicon-userprivacy{background-position: -240px 0;}
.aicon-userpercontact{background-position: -220px 0;}
.aicon-userentcontact{background-position: -200px 0;}
.aicon-userapp{background-position: -180px 0;}
.aicon-userorder{background-position: -160px 0;}
.aicon-userauth{background-position: -400px 0;}
.aicon-contactadd{background-position: -460px 0;}
.aicon-contactgrename{background-position: -460px -20px;}
.aicon-contactgremove{background-position: -300px -40px;}
.aicon-contactmove{background-position: -480px 0;}
.aicon-contactedit{background-position: -480px -20px;}
.aicon-contactremove{background-position: -20px -20px;}
.aicon-avataredit{background-position: -440px 0;}
.aicon-staffadd{background-position: -260px -40px;}
.aicon-staffmutiremove{background-position: -280px -40px;}
.aicon-staffadmintag{background-position: -400px -20px;}
.aicon-staffadmin{background-position: -360px -20px;}
.aicon-staffedit{background-position: -260px -20px;}
.aicon-staffremove{background-position: -280px -20px;}
.aicon-staffunaccept{background-position: -300px -20px;}
.aicon-staffaccept{background-position: -380px -20px;}
.aicon-staffreject{background-position: -320px -20px;}
.aicon-orgchange{background-position: -240px -20px;}
.aicon-orgselect{background-position: -60px -40px;}
.aicon-groupselect{background-position: -340px -20px;}
.aicon-group{background-position: -340px -20px;}
.aicon-groupselected{background-position: -200px -40px;}
.aicon-groupclose{background-position: -220px -40px;}
.aicon-groupadd{background-position: -100px -20px;}
.aicon-groupedit{background-position: -440px -20px;}
.aicon-groupremove{background-position: -420px -20px;}